{{#each articles}}
<div class="row">
  <div class="card col-md-7 mb-2 mt-2">
    <div class="row ">
      <div class="col-md-4 mt-2 text-center">
        <img src={{linkImage}} class="card-img" alt="Responsive image">
          <p class="card-text"><small class="text-muted">{{createdAt}}</small></p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{shortSammary}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 mb-2 mt-md-2 mt-sm-0">
    <div class="card text-right">
      <div class="card-body">
          <textarea id={{_id}} disabled class="card-text text-comment">{{note.textNote}}</textarea>
        <div class="articleBtn">
                <a id="editComment" href="#" dataId={{_id}} class="btn btn-primary"><i class="far fa-edit "></i></a>
                <a id="deleteArticle" href="#" dataId={{_id}} class="btn btn-danger"><i class="fas fa-trash "></i></a>
        </div>
        <div class="noteBtn" >
                <a id="saveBtn" href="#" dataId={{_id}} class="btn btn-success"><i class="fas fa-check"></i></a>
                <a id="cancleBtn" href="#"  class="btn btn-danger"><i class="fas fa-ban"></i></a>
        </div>        
      </div>
    </div>
  </div>
</div>
{{/each}}